<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            
            <a href="/events/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add an Event
            </a>
            
            <br><br>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                   <th class="text-center col-2">Event Name</th>
                    <th class="text-center col-2">Organizer</th>
                    <th class="text-center col-2">Date</th>
                    <th class="col-3">Description</th>
                    <th class="text-center col-1">Location</th>
                    <th class="text-center col-1"></th> <th class="text-center col-1"></th> </tr>

                <% for(let count=0; count < EventList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= EventList[count].name %></td>
                        <td class="text-center col-2"><%= EventList[count].organizer %></td>
                        <td class="text-center col-2"><%= EventList[count].date %></td>
                        <td class="col-3"><%= EventList[count].description %></td>
                        <td class="text-center col-1"><%= EventList[count].location %></td>
                        <td class="text-center col-1">
                            <a href="/events/edit/<%= EventList[count]._id%>"
                            class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit
                        </a></td>
                        <td class="text-center col-1">
                            <a href="/events/delete/<%= EventList[count]._id%>"
                            class="btn btn-danger btn-sm"> 
                            <i class="fas fa-trash-alt"></i> Delete</a></td>
                        
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
<br>
<br>
<%- include ../partials/footer.ejs %>

